@mixin font($font-weight, $font-size, $line-height) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}

@mixin flex-row ($flex:flex, $row:row) {
    display: $flex;
    flex-direction: $row;
}

@mixin flex-col ($flex:flex, $col: column) {
    display: $flex;
    flex-direction: $col;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}